html > * {
  color: black;
  font-size: 1em;
  height:100%;
}

.adopt,
.pet,
.petInfo,
.userInput,
.landingpageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingpageBody {
  width: 90vw;
}

.users {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.userList {
  
  width: 40%;
  text-align: right;
  padding: 0.5em;
}

.userInput {
  padding: 0.5em;
  justify-content: space-around;
  width: 65%;
  text-align: right;
}

.adopt {
  width: 99%;
}

.petInfo {
  width: 95%;
}

img {
  width:300px;
  height:100%;
}

.centerImage {
  text-align: center;
}
.adopt{
  max-width: 500px;
  margin:auto;
}
.adopt p{
  margin: 0 10%;
  text-align: left;
}

@media all and (max-width: 400px) {
  button {
    font-size: 75%;
  }

  input {
    width: 50%;
  }
}

